AWSTemplateFormatVersion: 2010-09-09
Transform: AWS::Serverless-2016-10-31
Resources: 
  Function: 
    Type: AWS::Serverless::Function 
    Properties: 
      Handler: lambda.handler
      Runtime: ruby2.5 
      Timeout: 30
      Role: arn:aws:iam::486414336274:role/lambda-none
      FunctionName: mori-slack
      Environment:
        Variables:
          WH_URI: https://hooks.slack.com/services/~~~~~~~~
          DEFAULT_EMOJI: ':woman-mountain-biking:'
          DEFAULT_USERNAME: mori
