AWSTemplateFormatVersion: 2010-09-09
Transform: AWS::Serverless-2016-10-31
Resources: 
  MotherMori: 
    Type: AWS::Serverless::Function 
    Properties: 
      Handler: lambda.handler
      Runtime: ruby2.5 
      Timeout: 30
      Role: arn:aws:iam::486414336274:role/amatsuka-megumi
      FunctionName: say-hello-megumi
      Environment:
        Variables:
          function_name: arn:aws:lambda:ap-northeast-1:486414336274:function:megumi-slack
